.project-help {
  & h2 {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.02em;
    color: #abc6d3;
    &::after {
      margin-left: 25px;
      content: "";
      width: 79px;
      height: 3px;
      background-color: #abc6d3;
      border-radius: 30px;
    }
  }
}
