.about-us {
    padding-top: 58px;
    padding-bottom: 70px;
    &__inner {
        h2 {
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: -0.02em;
            color: #ABC6D3;
    
            &::after {
                margin-left: 25px;
                content: "";
                width: 79px;
                height: 3px;
                background-color: #abc6d3;
                border-radius: 30px;
            }
        }
        h3 {
            padding-top: 20px;
            padding-bottom: 65px;
            font-weight: 700;
            font-size: 56px;
            line-height: 67px;
            color: #FCFFF8;
        }
    }
    &__img {
        padding: 0;
        margin: 0 ;
        margin-top: 65px;
    }
}