.partners-section {
    margin-top: 75px;
    margin-bottom: 214px;
    background-color: #44545c;

    h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.02em;
        color: #ABC6D3;
    }
}