.homehero {
  &__imgCollection {
    max-width: 805px;
    width: 100%;
  }
  &__img {
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease;
  }
  &__img:nth-child(2),
  &__img:nth-child(3) {
    max-width: 150px;
    width: 100%;
  }
  &__img:nth-child(1).width {
    max-width: 150px;
  }
  &__img:nth-child(2):hover {
    max-width: 805px;
  }
  &__img:nth-child(3):hover {
    max-width: 805px;
  }
}
