.homehero {
  &__imgCollection {
    max-width: 805px;
    width: 100%;
    overflow-x: hidden;
  }
  &__img {
    border-radius: 20px;
    object-fit: cover;
    transition: all 1s ease;
    min-height: 600px;
    height: 100%;
  }
  &__img:nth-child(2),
  &__img:nth-child(3) {
    height: 100% !important;
    max-width: 150px;
  }
  &__img:nth-child(2):hover {
    max-width: 805px;
  }
  &__img:nth-child(3):hover {
    max-width: 805px;
  }
}
